{% load static %}
{% load i18n %}

<!doctype html>
<html lang="ru">
<head>
  <title>
    Megano
  </title>
  <meta name="description" content="Описание страницы">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link href="{% static '/users/favicon.ico' %}" rel="shortcut icon">
  <link rel="stylesheet" href="{% static 'users/assets/css/style.css' %}">
</head>
<body>
<header class="Header">
  <div class="ControlPanel">
    <div class="wrap">
      <div class="row ControlPanel-row">
        <div class="row-block">
          <div class="row ControlPanel-rowSplit">
            <div class="row-block hide_700">
              <span class="ControlPanel-title">
                {% trans 'Подписывайтесь на обновления' %}
              </span>
              <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                <li class="menu-item">
                  <a class="menu-link" href="#">
                    <img src="{% static 'users/assets/img/icons/socialHeader/fb.svg' %}"
                         alt="fb.svg"/>
                  </a>
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="#">
                    <img src="{% static 'users/assets/img/icons/socialHeader/tw.svg' %}"
                         alt="tw.svg"/>
                  </a>
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="#">
                    <img src="{% static 'users/assets/img/icons/socialHeader/in.svg' %}"
                         alt="in.svg"/>
                  </a>
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="#">
                    <img src="{% static 'users/assets/img/icons/socialHeader/pt.svg' %}"
                         alt="pt.svg"/>
                  </a>
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="#">
                    <img src="{% static 'users/assets/img/icons/socialHeader/mail.svg' %}"
                         alt="mail.svg"/>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <nav class="row-block">
        </nav>
      </div>
    </div>
  </div>
  <div class="wrap">
    <div class="row Header-rowMain">
      <div class="row-block Header-logo">
        <img class="logo-image" src="{% static 'users/assets/img/logo.png' %}" alt="logo.png"/>
      </div>
    </div>
  </div>
</header>

{% block main_content %}

{% endblock %}

<footer class="Footer">
  <div class="wrap">
    <div class="row Footer-main">
      <div class="row-block">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt
          ut
          laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
        </p>
      </div>
    </div>
  </div>
  <div class="Footer-copy">
    <div class="wrap">
      <div class="row row_space">
        <div class="row-block">
          © Copyright&#32;
          <a href="#">
            {% trans 'Магазин Megano' %}
          </a>
          &#32;{% trans 'Все права защищены.' %}
        </div>
      </div>
    </div>
  </div>
</footer>
</body>

</html>


